{% extends "base.html" %}

{% block book %}
<style>
    .book{
    border: 1px solid black;
    margin:auto; width: 30%;
    padding: 25px; color:#000066;
    text-align: center;
    font-size: 22px;
    }

    a{
    color:#000066;
    }
</style>

<div class="book">
    <p>Author: {{author}}</p>
    <p>Name: {{name}}</p>
    <p>Edition: {{edition}}</p>
    <p>Year: {{year}}</p>
    <p>User: {{user}}</p>
    <p>Translator: {{translator}}</p>
    <p>
        <a href="{{url_for('book.hide_book', name=name)}}">
            <input style="font-size:16px;" type="submit" value="Hide a book">
        </a>
    </p>
</div>
{% endblock %}