{% extends "base.html" %}

{% block library %}

{% for i in user_list %}
<div style="border: 1px solid black; margin:auto; width: 30%; padding: 25px;">
    <a href="{{url_for('user.get_user', name=i['name'], email=i['email'], library=', '.join(i['library']))}}">
        {{i.name}} </a>
    <p style="font-weight: bold;">Books of the user are:</p>


    {% for name in i.library %}
    <ul>
        <li>
            <a href="{{url_for('book.get_book', name=name)}}">{{name}}</a>
        </li>
    </ul>
    {% endfor %}

</div>
{% endfor %}

{% endblock %}